@import url('https://fonts.googleapis.com/css?family=Vollkorn|Vollkorn+SC|Dancing+Script|Carter+One|Holtwood+One+SC|Source+Code+Pro|Merriweather+Sans:800');

@page {
    font-family: 'Merriweather Sans';
    color: #785963;
    font-size: 12pt;
    text-transform: uppercase;
}

@page:left {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Old_paper1.jpg/768px-Old_paper1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: opacity(47%);
  @bottom-left {
    content: counter(page);
  }
  @bottom-right {
    content: string(magazine);
  }
}

@page:right {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Old_paper3.jpg/768px-Old_paper3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: opacity(50%);
  @bottom-left {
    content: string(chapter);
  }
  @bottom-right {
    content: counter(page);
  }
}

@page:blank {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d4/Over_there_Louis_Fancher.jpg');
  background-size: cover;
  filter: opacity(100%);
  @bottom-left {
    content: "";
  }
  @bottom-right {
    content: "";
  }
}

@page:first {
  margin: 25mm 0 0 0;
  background-color: #11161c;
  background-image: 
    radial-gradient(36px at 28mm 77mm , #DEA642 0%, #DEA642 30px, black 32px, #ab8864 34px, black 35px, rgba(255,255,255,0) 36px), 
    linear-gradient(rgba(0, 0, 0, 0) 220mm, rgba(17, 22, 28, 0.8) 240mm),
    url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/PulpFictionPosterSpoof.jpg/657px-PulpFictionPosterSpoof.jpg'), 
    linear-gradient(#c75140 74mm, #11161c 74mm); 
  background-repeat: no-repeat;
  background-position: bottom right;
  filter: blur(0.5px) sepia(75%) saturate(80%);
  background-size: cover, cover, 657px 768px, cover;

  @top-center {
    content: "First Bookdown Contest";
    font-family: 'Holtwood One SC';
    font-size: 18pt;
    color: black;
    letter-spacing: 2pt;
  }
}

@page toc {
  @bottom-right {
    content: "";
  }
  @bottom-left {
    content: "";
  }
}

div.abstract {
  page-break-before: avoid;
  page-break-after: always;
}

@media print {
  html {
    color: #785963;
    font-size: 16pt;
    font-family: 'Vollkorn';
    font-weight: 600;
    text-align: justify;
    text-justify: inter-word;
    counter-reset: chapter-number;
  }
  code, kbd, listing, plaintext, pre, samp, tt, xmp {
    font-family: 'Source Code Pro';
    font-size: 14pt;
    font-weight: 600;
  }
  h3.subtitle {
    text-align: center; 
    font-family: 'Carter one';
    font-size: 12pt;
    color: black;
    font-weight: bold;
    transform: scale(1, 2.2);
    transform-origin: top;
    margin-top: 20mm;
    line-height: 15pt;
    bookmark-level: none;
  }
  h1.title {
    text-align: center; 
    font-family: 'Holtwood One SC';
    color: #ecce5e; 
    font-size: 62pt;
    font-weight: bold;
    transform: scale(1, 2.2);
    transform-origin: top;
    margin-top: 8mm;
    line-height: 15pt;
    string-set: magazine content();
    bookmark-level: none;
  }
  div.headline {
    font-family: 'Holtwood One SC';
    font-size: 40pt;
    color: rgba(248,239,226,0.6);
    position: fixed;
    bottom: 24mm;
    right: 10mm;
  }
  h4.author:first-of-type {
    color: #ab8864;
    font-family: 'Dancing Script';
    font-size: 13pt;
    padding-bottom: 1mm;
    border-bottom: 2pt solid #ab8864;
    width: 23mm;
    text-transform: none;
  }
  h4.author:first-of-type:before {
    content: "designed by";
    display: block;
    margin-top: 23mm;
    font-size: 12pt;
    text-transform: none;
  }
  h4.author:nth-of-type(2):before {
    content: "Credits";
    font-family: 'Carter one';
    font-weight: normal;
    font-size: 18pt;
    display: block;
    padding-bottom: 4mm;
    text-transform: none;
  }
  h4.author {
    margin-left: 19mm;
    font-family: 'Holtwood One SC';
    color: #ecce5e;
    font-size: 16pt;
    text-transform: none;
    bookmark-level: none;
  }
  h4.date {
    position: absolute;
    right: 5mm;
    top: 34mm;
    color: #ccc;
    font-family: 'Holtwood One SC';
    text-transform: none;
    bookmark-level: none;
  }
  h4.date:after {
    font-family: 'Dancing Script';
    content: "Free";
    display: block;
    position: fixed;
    left: 23mm;
    top: 47mm;
    font-size: 20pt;
    color: black;
    font-weight: bold;
    text-transform: none;
  }
  div.abstract {
    color: #999;
    position: fixed;
    font-family: 'Holtwood One SC';
    top : 235mm;
    text-align: center;
    font-size: 8pt;
    width: 100%;
  }
  p.abstract {
    display: none;
  }
  .abstract a {
    color: #999;
    text-decoration: none;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Vollkorn SC';
  }
  .section.level1 {
    page-break-before: always;
  }
  .section.level1 > h1 {
    string-set: chapter content();
  }
  .columns-2 {
    column-count: 2;
  }
  pre {
    page-break-inside: avoid;
    padding-left: 2mm;
    border-left: 2pt solid #785963;
  }
  a {
    color: #90666a;
    text-decoration: none;
  }
  a.uri {
    hyphens: manual;
  }
  #TOC {
    page-break-before: right;
    page: toc;
    text-transform: uppercase;
  }
  #TOC::before {
    content: string(magazine);
    display: block;
    position: fixed;
    top: 20mm;
    text-transform: uppercase;
    font-size: 40pt;
    font-weight: 900;
    font-family: 'Merriweather Sans';
  }
  #TOC ul {
    padding-bottom: 0;
    padding-top: 0;
  }
  #TOC>ul {
    width: 60%;
    margin-top: 55mm;
    padding: 4mm 0 4mm 10mm;
    float: right;
    border-left: 2mm solid #785963;
  }
  #TOC li {
    padding-top: 2mm;
    padding-bottom: 2mm;
  }
  #TOC li:first-of-type {
    padding-top: 4mm;
  }
  .section p {
    text-indent: 22pt;
  }
  .section>p:first-of-type {
    text-indent:0;
  }
  .section>p:first-of-type::first-letter {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
}